@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
//.app-container {
//  padding: 10px;
//  //min-height: calc(100vh - 76px);
//}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// --------下面是自定义样式-----------
.main-container {
  background-color: #f0f2f5;
}

.app-container {
  padding: 10px;

  &.has-bulk {
    padding-bottom: 50px;
  }

  .filter-wrapper {
    background-color: #ffffff;
    padding: 16px 16px 0 16px;
    margin-bottom: 10px;
    border-radius: 4px;

    .el-form-item--small.el-form-item {
      margin-bottom: 16px;
    }
  }

  .table-wrapper {
    background-color: #ffffff;
    padding: 16px 16px 0 16px;
    border-radius: 4px;

    /*.el-table {
      width: calc(100% + 32px) !important;
      margin-left: -16px;
      margin-right: -16px;
    }*/

    .result-table-header-cell {
      color: rgba(0, 0, 0, .85);
      font-weight: 500;
      background: #fafafa;
      border-bottom: 1px solid #f0f0f0;
    }

    .toolbar-wrapper {
      padding-bottom: 16px;

      .el-button + .el-button {
        margin-left: 0;
      }

      .tool-title {
        line-height: 32px;
      }

      .tool-button {
        border: none;
        font-size: 16px;
        padding-left: 8px;
        padding-right: 8px;

        &:hover {
          //background-color: rgba(0, 0, 0, 0.025);
          background-color: #e8f4ff;
        }

        i {
          //font-weight: 500;
          //text-rendering: optimizeLegibility;
        }
      }
    }

    .pagi-wrapper {
      text-align: right;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .bulk-wrapper {
    padding-right: 25px;
  }
}

.bulk-wrapper {
  position: fixed;
  width: calc(100% - #{$sideBarWidth});
  height: 40px;
  background-color: #ffffff;
  right: 0;
  bottom: 0;
  transition: width 0.28s;
  z-index: 9;
  padding: 0 10px;
  //border-top: 1px solid rgb(240, 240, 240);
  box-shadow: rgb(0 0 0 / 8%) 0px -6px 16px -8px, rgb(0 0 0 / 5%) 0px -9px 28px 0px, rgb(0 0 0 / 3%) 0px -12px 48px 16px;
  display: flex;
  align-items: center;

  .bulk-col-left {
    flex: 1;
  }

  .bulk-col-right {
    flex: 1;
    text-align: right;
  }

  .bulk-desc {
    font-size: 14px;
    //height: 40px;
    line-height: 22px;

    a {
      color: #1890ff;
      font-weight: 600;
    }
  }

  //.el-button--danger {
  //  border: none;
  //  background-color: transparent;
  //}
}

.hideSidebar .bulk-wrapper {
  width: calc(100% - 54px)
}

.mobile .bulk-wrapper {
  width: 100%;
}

.content-main {
  background-color: #ffffff;
  padding: 20px 20px;

  .search-bar {

    .el-row {
      padding-bottom: 10px;
    }

    .el-form-item {
      margin-bottom: 0;
    }
  }

  /*  .tool-bar {
      .el-row {
        padding: 0 0 10px 0;
      }
    }*/

  .result-table {
    padding: 0 0 20px 0;

    .result-table-header {
      //background-color: red !important;
    }

    .result-table-header-cell {
      color: rgba(0, 0, 0, .85);
      font-weight: 500;
      background: #fafafa;
      border-bottom: 1px solid #f0f0f0;
    }
  }

}


.msg-danger {
  color: #fff;
  background-color: #f56c6c !important;
  border-color: #f56c6c !important;

  &:hover {
    background-color: #f56c6c !important;
    border-color: #f56c6c !important;
    box-shadow: 0 2px 5px 1px rgb(245 108 108 / 60%) !important;
  }
}

.msg-cancel {
  border: none;
}

.line-button-danger:hover:not(.is-disabled),
.line-button-danger:focus:not(.is-disabled) {
  //background-color: #f56c6c !important;
  border-color: #f56c6c !important;
  color: #f56c6c !important;
}

.nest-menu .el-menu-item {
  padding-left: 50px !important;
  //background-color: #e8e8e8 !important;

  &.is-active {
    //border-left: #1890ff solid 5px;
    background-color: #e8f4ff !important;
    color: #1890ff !important;
  }
}

.mini-tip {
  padding: 4px 8px;
  border-radius: 2px;
  //background: rgba(0, 0, 0, 0.6) !important;
}

.el-form-item__label {
  font-weight: 500;
}

th.el-table-column--selection.is-leaf.result-table-header-cell {
  padding-left: 4px;
}
